* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  background: #f1f1f1;
}

.container1 {
  width: 100%;
  max-width: 1200px;
  height: 60vh;
  max-height: 620px;
  background: url(./Images/original.jpg)no-repeat center/cover;
  background-position: center top;
  overflow: hidden;
  text-align: center;
}

/* Basic styling */
body {
  font-family: sans-serif;
  background: rgb(241, 241, 241);
}
nav {
  padding: 5px 20px;
}
ul {
  list-style-type: none;
  
}
a {
  
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.logo a:hover {
  text-decoration: none;
}



.menu li {
  font-size: 16px;
  font-weight: 600;
  padding: 15px 5px;
  white-space: nowrap;
  color: rgb(0, 42, 58);
}

.active a {
  color: rgb(0, 42, 58);
}
.logo a,
.toggle a {
  font-size: 20px;
  color: white;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
}
.toggle {
  order: 1;
}

.fas {
    margin-right: 5px;
}

.item {
  width: 100%;
  text-align: center;
  order: 2;
  display: none;
  background-color: white;
  color: rgb(0, 42, 58);
}
.item.active {
  display: block;
}

.three-watches {
  margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 90%;
    margin-left: 20px;
}

.three-watches h1,.three-watches p,.three-watches a {
    color: white;
    text-align: left;
}

h1 {
    font-size: 1.9rem;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 1200px;
}

.from-smartwatches {
    padding: 20px;
    width: 100%;
    font-size: 1.35rem;
    font-weight: 600;
    background-color: rgb(185, 217, 235);
    color: rgb(0, 42, 58);
    
}

.smartwatches {
  color: rgb(0, 42, 58);
  padding: 30px;
}

.versa-title, .ionic-title {
  background-color: rgb(240, 240, 240);
  width: 100%;
  text-align: left;
  padding-top: 10px;
  padding-left: 15px;
}


.versa, .ionic {
    background-color: rgb(240, 240, 240);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
}



.watchesdiv {
    background-color: white;
    width: 46%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.name {
    margin: 10px;
    margin-top: 40%;
    font-weight: 600;
    font-size: 14px;
}

.price {
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 600;
}

.small-div {
    width: 100%;
    margin: 5px;
    margin-top: 3vh;
}

.trackers-title, .services-title, .smart-scales-title {
  background-color: white;
  width: 100%;
  text-align: left;
  padding-top: 10px;
  padding-left: 15px;
}

.trackers, .services, .smart-scales {
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
}

.other {
  background-color: rgb(240, 240, 240);
  width: 43vw;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.model-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 1200px;
}

.bottom-image1 {
    width: 100%;
    height: 250px;
    background: url(./Images/woman.jfif)no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 10px;
}

.bottom-image2 {
  width: 100%;
  height: 250px;
  background: url(./Images/women.jfif)no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: left;
  margin-top: 10px;
}

.image-p {
    width: 85%;
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin: 10px;
    text-shadow: 5px 5px 5px black;
    fill: black;
}

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgb(241, 241, 241);
}

.contact {
  margin-top: 50px;
  width: 90%;
  
}

.get {
  text-align: left;
  color: rgb(0, 42, 58);
}

.email {
    width: 90%;
    margin-top: 50px;
    padding: 10px 15px;
    border: none;
    background: rgb(241, 241, 241);
    font-size: 20px;
    border-bottom: 2px solid rgb(0, 42, 58);
}

.social {
  margin-top: 50px;
  text-align: left;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.follow {
  display: flex;
  align-self: flex-start;
}

.icons {
  width: 90%;
  font-size: 28px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  color: rgb(0, 42, 58);
}

.language {
    margin-top: 30px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.united {
    margin-left: 20px;
    text-decoration: underline;
    color: rgb(0, 42, 58);
}

.rights {
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(0, 42, 58);
    font-size: 14px;
}

/* Desktop menu */

@media all and (min-width: 500px) {

  .watchesdiv, .other {
    min-height: 350px;
    height: 400px;
    max-width: 300px;
  }

  .small-div {
    
    max-width: 220px;
  }

  .name {
    margin-top: 5vh;
  }
}

@media all and (min-width: 730px) {

  .fas {
      margin-right: 15px;
  }
 

  .logo a {
      
      font-size: 32px;
      color: white;
  }

  .logo {
      flex: 1;
      display: flex;
      justify-content: flex-start;
  }

  .item a {
      font-size: 22px;
      color: white;
  }

  .item {
    display: block;
    width: auto;
    background-color: transparent;
  }
  .toggle {
    display: none;
  }

  .menu li {
      padding: 15px 10px;
    }

    .container1 {
        height: 70vh;
        background: url(./Images/original.jpg)no-repeat center/cover;
    }

    .three-watches {
      
        height: 50vh;
        justify-content: center;
    }

    h1 {
        font-size: 46px;
    }
  
    .three-watches p {
        font-size: 20px;
    }

    .three-watches a {
        font-size: 24px;
    }

    .from-smartwatches {
        height: 12vh;
        max-height: 100px;
        display: flex;
        align-items: center;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .watchesdiv, .other {
      background-color: white;
      width: 220px;
      height: 400px;
      display: flex;
      flex-direction: column;
      margin: 5px;
  }

  .other {
      background-color: rgb(240, 240, 240);
      
    }

    .small-div {
        width: 240px;
    }

  .model-images {
    flex-direction: row;
    flex-wrap: wrap;
    height: 40vh;
  }

  .bottom-image1 {
    width: 50%;
    margin-bottom: 0px;
    
  }

  .bottom-image2 {
    width: 50%;
  }

  .footer {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .contact {
    width: 45%;
    
    
  }

  .contact h3 {
    text-align: center;
    width: 90%;
  }

  .social {
    width: 45%;
    
    
  }

  .follow {
    
    align-self: center;

  }
}

@media all and (min-height: 1100px) {

.watchesdiv, .other {
  min-height: 450px;
}

}
